# VoxForge binaries
build/
**/bin/
bin-int/
Intermediates/


# keep premake5 binaries
!Vendor/premake/bin


# keep project building scripts
!Scripts/build


# IDEs caches
.idea/
.vs/
.vscode/


# Visual Studio files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user


# Vox Forge/Studio logs
*.log